<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New vendor</title>
    </head>
    <body>
        <h1>Add a new vendor</h1>
        
        <form action=""></form>
    </body>
</html>